<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.ws.ast.st.v7.core.batchProcessLaunchConfigurationType">
<stringAttribute key="launchMode" value="run"/>
<stringAttribute key="wasInstallPath" value="C:/Program Files (x86)/IBM/SDP_75/runtimes/base_v7/profiles/AppSrv02"/>
<stringAttribute key="wasServerName" value="server1"/>
</launchConfiguration>